:host {
  display: inline-block;

  .app-badge {
    &.badge-size-small {
      padding: 1px 6px;
      font-size: 10px;
      border-radius: 10px;
    }

    &.badge-size-large {
      padding: 3px 10px;
      font-size: 12px;
      border-radius: 14px;
    }
  }
}

