:host {
  display: block;
}

// Icon styling inside toggle buttons
::ng-deep .toggle-icon {
  font-size: 18px;
  width: 18px;
  height: 18px;
  line-height: 18px;
}

// Size variations
::ng-deep .toggle-size-small {
  mat-button-toggle {
    font-size: 0.813rem;
    min-height: 32px;
    padding: 0 12px;

    .toggle-icon {
      font-size: 16px;
      width: 16px;
      height: 16px;
      line-height: 16px;
    }
  }
}

::ng-deep .toggle-size-large {
  mat-button-toggle {
    font-size: 1rem;
    min-height: 48px;
    padding: 0 24px;

    .toggle-icon {
      font-size: 20px;
      width: 20px;
      height: 20px;
      line-height: 20px;
    }
  }
}

// Appearance variations
::ng-deep .toggle-appearance-legacy {
  mat-button-toggle {
    border-radius: 0;
  }
}

// Ensure proper spacing for toggle groups
::ng-deep mat-button-toggle-group {
  box-shadow: none;

  &:not(.mat-button-toggle-vertical) {
    mat-button-toggle {
      &:not(:first-child) {
        border-left: none;
      }
    }
  }
}
