:host {
  display: block;
}

::ng-deep .toggle-icon {
  font-size: var(--density-font-size-icon-sm, 18px);
  width: var(--density-font-size-icon-sm, 18px);
  height: var(--density-font-size-icon-sm, 18px);
  line-height: var(--density-font-size-icon-sm, 18px);
}

::ng-deep .toggle-size-small {
  mat-button-toggle {
    font-size: var(--density-font-size-sm, 0.813rem);
    min-height: 32px;
    padding: 0 12px;

    .toggle-icon {
      font-size: var(--density-font-size-icon-sm, 16px);
      width: var(--density-font-size-icon-sm, 16px);
      height: var(--density-font-size-icon-sm, 16px);
      line-height: var(--density-font-size-icon-sm, 16px);
    }
  }
}

::ng-deep .toggle-size-large {
  mat-button-toggle {
    font-size: var(--density-font-size-base, 1rem);
    min-height: 48px;
    padding: 0 24px;

    .toggle-icon {
      font-size: var(--density-font-size-icon-lg, 20px);
      width: var(--density-font-size-icon-lg, 20px);
      height: var(--density-font-size-icon-lg, 20px);
      line-height: var(--density-font-size-icon-lg, 20px);
    }
  }
}

::ng-deep .toggle-appearance-legacy {
  mat-button-toggle {
    border-radius: 0;
  }
}

::ng-deep mat-button-toggle-group {
  box-shadow: none;

  &:not(.mat-button-toggle-vertical) {
    mat-button-toggle {
      &:not(:first-child) {
        border-left: none;
      }
    }
  }
}
