:host {
  display: inline-block;

  button {
    .mat-icon:first-child:not(:only-child) {
      margin-right: 0.5rem;
    }

    .mat-icon:last-child:not(:only-child) {
      margin-left: 0.5rem;
    }
  }
}

