// app-form-radio-group component styles
.app-form-radio-group-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.app-form-radio-group-label {
  display: flex;
  align-items: center;
  gap: 4px;
}

.app-form-radio-group-options {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &.app-form-radio-group-layout-horizontal {
    flex-direction: row;
    gap: 24px;
  }
}

.app-form-radio-group-hint {
  opacity: 0.7;
}

.app-form-radio-group-error {
  color: var(--mat-sys-error);
}

