<div class="pds-page">
  <div class="flex items-center justify-between mb-6">
    <div>
      <h1 class="mat-headline-large">Directorio de empleados</h1>
      <p class="mat-body-medium">Ejemplo de tabla client-side con filtros simples y avanzados</p>
    </div>

    <mat-button-toggle-group
      [value]="filterMode()"
      (change)="filterMode.set($event.value)">
      <mat-button-toggle value="simple">
        <mat-icon>filter_list</mat-icon>
        Filtros Simples
      </mat-button-toggle>
      <mat-button-toggle value="advanced">
        <mat-icon>tune</mat-icon>
        Filtros Avanzados
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  @if (filterMode() === 'simple') {
    <app-table-client-side
      [tableConfig]="tableConfig"
      [filtersConfig]="filtersConfig"
      [paginationConfig]="paginationConfig"
      [data]="employeesViewModel()"
      (sortChange)="onSort($event)"
      (filterChange)="onFilter($event)"
      (pageChange)="onPage($event)"
      (actionClick)="onAction($event)">
      <ng-template #cellTemplate let-row let-column="column" let-value="value">
        @switch (column.key) {
          @case ('statusLabel') {
            <span class="badge" [class]="'badge--' + row.status">
                  {{ value }}
                </span>
          }
          @case ('salaryFormatted') {
            <span class="salary">{{ value }}</span>
          }
          @default {
            {{ value }}
          }
        }
      </ng-template>
    </app-table-client-side>
  } @else {
    <app-table-client-side
      [tableConfig]="tableConfig"
      [filtersAdvancedConfig]="advancedFiltersConfig"
      [paginationConfig]="paginationConfig"
      [data]="employeesViewModel()"
      (sortChange)="onSort($event)"
      (advancedSearch)="onAdvancedSearch($event)"
      (pageChange)="onPage($event)"
      (actionClick)="onAction($event)">
      <ng-template #cellTemplate let-row let-column="column" let-value="value">
        @switch (column.key) {
          @case ('statusLabel') {
            <span class="badge" [class]="'badge--' + row.status">
                  {{ value }}
                </span>
          }
          @case ('salaryFormatted') {
            <span class="salary">{{ value }}</span>
          }
          @default {
            {{ value }}
          }
        }
      </ng-template>
    </app-table-client-side>
  }
</div>
