<div class="pds-page">
  <div class="flex items-center justify-between mb-6">
    <div>
      <h1 class="mat-headline-large">Directorio de empleados</h1>
      <p class="mat-body-medium">Ejemplo de tabla client-side con filtros simples y avanzados</p>
    </div>

    <mat-button-toggle-group
      [value]="useAdvancedFilters()"
      (change)="useAdvancedFilters.set($event.value)">
      <mat-button-toggle [value]="false">
        <mat-icon>filter_list</mat-icon>
        Filtros Simples
      </mat-button-toggle>
      <mat-button-toggle [value]="true">
        <mat-icon>tune</mat-icon>
        Filtros Avanzados
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <app-table-client-side
    [tableConfig]="tableConfig"
    [filtersConfig]="filtersConfig()"
    [useAdvancedFilters]="useAdvancedFilters()"
    [paginationConfig]="paginationConfig"
    [data]="employeesViewModel()"
    [toggleFilterFn]="toggleFilter"
    (sortChange)="onSort($event)"
    (filtersChange)="onFilters($event)"
    (pageChange)="onPage($event)"
    (actionClick)="onAction($event)">
    <ng-template #cellTemplate let-row let-column="column" let-value="value">
      @switch (column.key) {
        @case ('statusLabel') {
          <span class="badge" [class]="'badge--' + row.status">
            {{ value }}
          </span>
        }
        @case ('salaryFormatted') {
          <span class="salary">{{ value }}</span>
        }
        @default {
          {{ value }}
        }
      }
    </ng-template>
  </app-table-client-side>
</div>
