<div class="app-client-side-table">
  @if (filtersConfig()) {
    @if (useAdvancedFilters()) {
      <app-card
        [expanded]="false"
        [isExpandable]="true"
        class="mb-4"
        icon="filter_alt"
        title="Filtros avanzados">
        <app-filters-advanced
          (searchApplied)="onFiltersChange($event)"
          [config]="filtersConfig()!">
        </app-filters-advanced>
      </app-card>
    } @else {
      <app-simple-filters
        (valuesChange)="onFiltersChange($event)"
        [config]="filtersConfig()!"
        [values]="simpleFilterValues()">
      </app-simple-filters>
    }
  }

  <app-table
    (actionClick)="actionClick.emit($event)"
    (rowClick)="rowClick.emit($event)"
    (sortChange)="onSortChange($event)"
    [cellTemplateRef]="projectedCellTemplate()"
    [config]="tableConfig()"
    [data]="displayData()"
    [loading]="loading()"
    [sort]="currentSort()">
    <ng-content/>
  </app-table>

  @if (showPagination()) {
    <app-pagination
      (pageChange)="onPageChange($event)"
      [config]="paginationConfig()!"
      [state]="paginationState()">
    </app-pagination>
  }
</div>
