<app-page-layout [showEmptySlots]="true" preset="fullWidth">
  <ng-template appSlot="content">
    <div class="flex items-center justify-between mb-4">
      <div>
        <h1 class="mat-title-large m-0" i18n="Table|Page title@@tableserver.title">Employee directory</h1>
        <p class="mat-body-medium m-0" i18n="Table|Page description@@tableserver.description">Server-side table example
          with simple and advanced filters</p>
      </div>

      <mat-button-toggle-group
        (change)="useAdvancedFilters.set($event.value)"
        [value]="useAdvancedFilters()">
        <mat-button-toggle [value]="false">
          <mat-icon>filter_list</mat-icon>
          <ng-container i18n="Table|Simple filters toggle@@tableserver.btn.simpleFilters">Simple Filters</ng-container>
        </mat-button-toggle>
        <mat-button-toggle [value]="true">
          <mat-icon>tune</mat-icon>
          <ng-container i18n="Table|Advanced filters toggle@@tableserver.btn.advancedFilters">Advanced Filters
          </ng-container>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <app-table-server-side
      (paramsChange)="onParamsChange($event)"
      (rowClick)="onRowClick($any($event))"
      [data]="employees()"
      [filtersConfig]="filtersConfig()"
      [loading]="isLoading()"
      [paginationConfig]="paginationConfig"
      [tableConfig]="tableConfig"
      [totalItems]="totalEmployees()"
      [useAdvancedFilters]="useAdvancedFilters()">
      <ng-template #cellTemplate let-column="column" let-row let-value="value">
        @switch (column.key) {
          @case ('statusLabel') {
            <span [class]="'badge--' + row.status" class="badge">
            {{ value }}
          </span>
          }
          @case ('salaryFormatted') {
            <span class="salary">{{ value }}</span>
          }
          @default {
            {{ value }}
          }
        }
      </ng-template>
    </app-table-server-side>
  </ng-template>
  <app-page-layout>
