<mat-tree #tree [childrenAccessor]="childrenAccessor" [dataSource]="data()" class="nav-tree">
  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" [cdkTreeNodeTypeaheadLabel]="node.title"
                 [class.parent-active]="isParentOfActive(node)"
                 matTreeNodeToggle>
    <button [attr.aria-label]="'Toggle ' + node.title" mat-icon-button matTreeNodeToggle>
      <mat-icon>{{ tree.isExpanded(node) ? 'expand_more' : 'chevron_right' }}</mat-icon>
    </button>
    <div [matTooltip]="node.title"
         class="tree-node-content"
         matTooltipPosition="right">
      @if (node.icon) {
        <mat-icon class="tree-node-icon">{{ node.icon }}</mat-icon>
      }
      <span class="tree-node-label">{{ node.title }}</span>
      @if (getTotalBadgeCount(node) > 0 && !tree.isExpanded(node)) {
        <span class="app-badge normal">{{ getTotalBadgeCount(node) }}</span>
      }
    </div>
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node" [class.active]="isActive(node.url)">
    <button class="tree-node-spacer" disabled mat-icon-button></button>
    <div (click)="navigate(node)"
         [matTooltip]="node.title"
         class="tree-node-content"
         matTooltipPosition="right">
      @if (node.icon) {
        <mat-icon class="tree-node-icon">{{ node.icon }}</mat-icon>
      }
      <span class="tree-node-label">{{ node.title }}</span>
      @if (node.badge) {
        <span [ngClass]="[node.badge.type, node.badge.indicator ? 'has-indicator' : '']"
              class="app-badge">
          {{ node.badge.title }}
        </span>
      }
    </div>
  </mat-tree-node>
</mat-tree>
