@use '../../../../../../themes/navigation' as nav;

.nav-tree {
  background: inherit;

  .mat-tree-node {
    min-height: 44px;
    color: inherit;
    align-items: flex-start;

    &[aria-level] {
      padding-left: calc((attr(aria-level number, 1) - 1) * 0.5rem);
    }

    @include nav.nav-item-all-states();
  }
}
