@use '../../../../../../themes/navigation' as nav;

.nav-tree {
  background: inherit;

  .mat-tree-node {
    min-height: 2.75rem;
    color: inherit;
    align-items: flex-start;

    &[aria-level] {
      padding-left: calc((attr(aria-level number, 1) - 1) * 0.5rem);
    }

    @include nav.nav-item-all-states();
  }
}

.tree-node-content {
  display: flex;
  align-items: center;
  gap: var(--ui-card-padding);
  padding: calc(var(--ui-card-padding) * 0.5) var(--ui-card-padding);
  flex: 1;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: color 200ms, background-color 200ms;
}

.tree-node-icon {
  font-size: var(--ui-font-size-icon-md);
  width: var(--ui-font-size-icon-md);
  height: var(--ui-font-size-icon-md);
}

.tree-node-label {
  flex: 1;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.tree-node-spacer {
  opacity: 0;
  pointer-events: none;
}