<mat-form-field class="w-full" [appearance]="fullConfig().appearance">
  @if(fullConfig().label) {
    <mat-label>{{ fullConfig().label }}</mat-label>
  }

  @if(fullConfig().icon) {
    <mat-icon matPrefix>{{ fullConfig().icon }}</mat-icon>
  }

  <mat-select
    [formControl]="control()"
    [placeholder]="fullConfig().placeholder"
    [multiple]="fullConfig().multiple"
    [attr.aria-label]="fullConfig().ariaLabel"
    [panelClass]="fullConfig().panelClass || ''">

    @if (hasGroups()) {
      @for (group of groupedOptions(); track group.name) {
        <mat-optgroup [label]="group.name">
          @for (option of group.options; track option.value) {
            <mat-option [value]="option.value" [disabled]="option.disabled || false">
              {{ option.label }}
            </mat-option>
          }
        </mat-optgroup>
      }
    } @else {
      @for (option of options(); track option.value) {
        <mat-option [value]="option.value" [disabled]="option.disabled || false">
          {{ option.label }}
        </mat-option>
      }
    }
  </mat-select>

  @if(fullConfig().hint) {
    <mat-hint>{{ fullConfig().hint }}</mat-hint>
  }

  @if (errorState().shouldShow) {
    <mat-error>{{ errorState().message }}</mat-error>
  }
</mat-form-field>

