:host {
  display: block;
}

::ng-deep .toggle-icon {
  font-size: var(--ui-font-size-icon-sm);
  width: var(--ui-font-size-icon-sm);
  height: var(--ui-font-size-icon-sm);
  line-height: var(--ui-font-size-icon-sm);
}

::ng-deep .toggle-size-small {
  mat-button-toggle {
    font-size: var(--mat-sys-label-large-size);
    min-height: 32px;
    padding: 0 12px;

    .toggle-icon {
      font-size: var(--ui-font-size-icon-sm);
      width: var(--ui-font-size-icon-sm);
      height: var(--ui-font-size-icon-sm);
      line-height: var(--ui-font-size-icon-sm);
    }
  }
}

::ng-deep .toggle-size-large {
  mat-button-toggle {
    font-size: var(--mat-sys-body-large-size);
    min-height: 48px;
    padding: 0 24px;

    .toggle-icon {
      font-size: var(--ui-font-size-icon-lg);
      width: var(--ui-font-size-icon-lg);
      height: var(--ui-font-size-icon-lg);
      line-height: var(--ui-font-size-icon-lg);
    }
  }
}

::ng-deep .toggle-appearance-legacy {
  mat-button-toggle {
    border-radius: 0;
  }
}

::ng-deep mat-button-toggle-group {
  box-shadow: none;

  &:not(.mat-button-toggle-vertical) {
    mat-button-toggle {
      &:not(:first-child) {
        border-left: none;
      }
    }
  }
}
