.nav-tree {
  background: transparent;

  .tree-node {
    .tree-node-content {
      &:hover {
        background-color: var(--overlay-light-20);
      }

      &.parent-active {
        background-color: var(--overlay-light-10);
      }

      &.active {
        background-color: var(--overlay-light-30);
      }
    }
  }
}
