<div class="app-server-side-table">
  @if (safeFiltersConfig(); as config) {
    <app-simple-filters
      (criteriaChange)="onFiltersChange($event)"
      [config]="config"
      [values]="filterValues()">
    </app-simple-filters>
  }

  <app-table
    (actionClick)="actionClick.emit($event)"
    (rowClick)="rowClick.emit($event)"
    (sortChange)="onSortChange($event)"
    [cellTemplateRef]="projectedCellTemplate()"
    [config]="tableConfig()"
    [data]="data()"
    [loading]="loading()"
    [sort]="currentSort()">
    <ng-content select="[cellTemplate]"/>
  </app-table>

  @if (showPagination() && safePaginationConfig(); as config) {
    <app-pagination
      (pageChange)="onPageChange($event)"
      [config]="config"
      [state]="paginationState()">
    </app-pagination>
  }
</div>
