:host {
  display: block;
}

mat-card-header {
  background-color: var(--mat-sys-surface-container);
  border-bottom: 1px solid var(--mat-sys-outline-variant);
  padding: 0.75rem;
}

mat-card-title {
  color: var(--mat-sys-on-surface);
}

mat-icon {
  color: var(--mat-sys-primary);
}

mat-card-footer {
  padding: 0.75rem;
}