<div class="filters-fields">
  @for (filter of config().fields; track filter.key) {
    <div
      [style.width]="filter.width ?? 'auto'"
      class="filter-field">

      @switch (filter.type) {
        @case ('text') {
          <app-form-input
            [config]="{
                  type: 'text',
                  label: filter.label,
                  placeholder: filter.placeholder ?? '',
                  appearance: appearance()
                }"
            [formControl]="getControl(filter.key)">
          </app-form-input>
        }
        @case ('number') {
          <app-form-input
            [config]="{
                  type: 'number',
                  label: filter.label,
                  placeholder: filter.placeholder ?? '',
                  appearance: appearance()
                }"
            [formControl]="getControl(filter.key)">
          </app-form-input>
        }
        @case ('select') {
          <app-form-select
            [config]="{
                  label: filter.label,
                  appearance: appearance()
                }"
            [formControl]="getControl(filter.key)"
            [options]="getSelectOptions(filter)">
          </app-form-select>
        }
        @case ('date') {
          <app-form-datepicker
            [config]="{
                  label: filter.label,
                  placeholder: filter.placeholder ?? 'DD/MM/YYYY',
                  appearance: appearance()
                }"
            [formControl]="getControl(filter.key)">
          </app-form-datepicker>
        }
      }
    </div>
  }
</div>

<app-filter-footer
  (clearClick)="clearAllCriteria()"
  (searchClick)="emitSearch()"
  (toggleChange)="onToggleChange($event)"
  [showClearButton]="showClearButton()"
  [showSearchButton]="showSearchButton()"
  [toggles]="toggles()">
</app-filter-footer>
