@use '../../../../themes/functions' as theme;

.toolbar-gradient {
  background: theme.theme-gradient(135deg, theme.$color-medium, theme.$color-strong);
}

.dark-theme .toolbar-gradient {
  background: theme.theme-gradient(135deg, theme.$color-strong, theme.$color-darker);
}

