.toolbar-gradient {
  background: linear-gradient(135deg, var(--theme-primary-600), var(--theme-primary-700));
}

.dark-theme .toolbar-gradient {
  background: linear-gradient(135deg, var(--theme-primary-700), var(--theme-primary-800));
}

