@use 'sass:map';

@function _patch-error-palette($palette) {
  @return map.merge(
      $palette,
      (
        error: (
          0: #000000,
          10: #410002,
          20: #690005,
          25: #7e0007,
          30: #93000a,
          35: #a80710,
          40: #ba1a1a,
          50: #de3730,
          60: #ff5449,
          70: #ff897d,
          80: #ffb4ab,
          90: #ffdad6,
          95: #ffedea,
          98: #fff8f7,
          99: #fffbff,
          100: #ffffff,
        ),
      )
  );
}

/// Primary (Azul-violeta #4758B8)
$brand-primary: _patch-error-palette((
  0: #000000,
  10: #0b154b,
  20: #222c61,
  25: #2d3770,
  30: #3a4379,
  35: #464f85,
  40: #515b92,
  50: #6a74ac,
  60: #848ec7,
  70: #9ea8e3,
  80: #bac3ff,
  90: #dee0ff,
  95: #f0efff,
  98: #fbf8ff,
  99: #fefbff,
  100: #ffffff,
  secondary: (
    0: #000000,
    10: #18182c,
    20: #2d2f42,
    25: #383a4d,
    30: #434659,
    35: #4f5265,
    40: #5b5d72,
    50: #74768c,
    60: #8e8fa6,
    70: #a8a9c1,
    80: #c3c5dd,
    90: #e0e1f9,
    95: #f0efff,
    98: #fbf8ff,
    99: #fefbff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #1b1b21,
    20: #303036,
    25: #3b3b42,
    30: #46464d,
    35: #525259,
    40: #5e5e65,
    50: #77777e,
    60: #909098,
    70: #ababb3,
    80: #c7c5d0,
    90: #e4e1e9,
    95: #f2eff7,
    98: #fbf8ff,
    99: #fefbff,
    100: #ffffff,
    4: #0d0e13,
    6: #121318,
    12: #1f1f25,
    17: #2a2a30,
    22: #35353b,
    24: #393940,
    87: #dad8e4,
    92: #eae7f0,
    94: #f0edf5,
    96: #f5f2fa,
  ),
  neutral-variant: (
    0: #000000,
    10: #1a1a23,
    20: #2f2f38,
    25: #3a3a43,
    30: #46464f,
    35: #52525b,
    40: #5e5e67,
    50: #777780,
    60: #90909a,
    70: #ababb5,
    80: #c7c5d0,
    90: #e3e1ec,
    95: #f2effa,
    98: #fbf8ff,
    99: #fefbff,
    100: #ffffff,
  ),
));

/// Tertiary (Verde menta #00D69D)
$brand-tertiary: _patch-error-palette((
  0: #000000,
  10: #002115,
  20: #003823,
  25: #00442c,
  30: #005139,
  35: #005e43,
  40: #1e6b4f,
  50: #3a8568,
  60: #55a082,
  70: #70bb9c,
  80: #8cd5b4,
  90: #a7f2cf,
  95: #c0ffe1,
  98: #e8fff2,
  99: #f4fff8,
  100: #ffffff,
  secondary: (
    0: #000000,
    10: #18182c,
    20: #2d2f42,
    25: #383a4d,
    30: #434659,
    35: #4f5265,
    40: #5b5d72,
    50: #74768c,
    60: #8e8fa6,
    70: #a8a9c1,
    80: #c3c5dd,
    90: #e0e1f9,
    95: #f0efff,
    98: #fbf8ff,
    99: #fefbff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #1b1b21,
    20: #303036,
    25: #3b3b42,
    30: #46464d,
    35: #525259,
    40: #5e5e65,
    50: #77777e,
    60: #909098,
    70: #ababb3,
    80: #c7c5d0,
    90: #e4e1e9,
    95: #f2eff7,
    98: #fbf8ff,
    99: #fefbff,
    100: #ffffff,
    4: #0d0e13,
    6: #121318,
    12: #1f1f25,
    17: #2a2a30,
    22: #35353b,
    24: #393940,
    87: #dad8e4,
    92: #eae7f0,
    94: #f0edf5,
    96: #f5f2fa,
  ),
  neutral-variant: (
    0: #000000,
    10: #1a1a23,
    20: #2f2f38,
    25: #3a3a43,
    30: #46464f,
    35: #52525b,
    40: #5e5e67,
    50: #777780,
    60: #90909a,
    70: #ababb5,
    80: #c7c5d0,
    90: #e3e1ec,
    95: #f2effa,
    98: #fbf8ff,
    99: #fefbff,
    100: #ffffff,
  ),
));
