@use '@angular/material' as mat;

@mixin apply-custom-styles() {
  @include _button-tertiary-styles();
  @include _include-custom-styles();
}

@mixin _include-custom-styles() {
  mat-toolbar,
  mat-sidenav {
    .mat-mdc-icon-button {
      color: var(--chrome-text);
    }
  }

  .main-content {
    background-color: var(--mat-sys-background);
  }
}

@mixin _button-tertiary-styles {
  [color="tertiary"] {
    &.mat-mdc-unelevated-button {
      @include mat.button-overrides((
        filled-container-color: var(--mat-sys-tertiary),
        filled-label-text-color: var(--mat-sys-on-tertiary),
        filled-state-layer-color: var(--mat-sys-on-tertiary),
        filled-ripple-color: var(--mat-sys-on-tertiary),
      ));
    }

    &.mat-mdc-raised-button {
      @include mat.button-overrides((
        protected-label-text-color: var(--mat-sys-tertiary),
        protected-state-layer-color: var(--mat-sys-tertiary),
        protected-ripple-color: var(--mat-sys-tertiary),
      ));
    }

    &.mat-mdc-outlined-button {
      @include mat.button-overrides((
        outlined-label-text-color: var(--mat-sys-tertiary),
        outlined-outline-color: var(--mat-sys-tertiary),
        outlined-state-layer-color: var(--mat-sys-tertiary),
        outlined-ripple-color: var(--mat-sys-tertiary),
      ));
    }

    &.mat-mdc-button {
      @include mat.button-overrides((
        text-label-text-color: var(--mat-sys-tertiary),
        text-state-layer-color: var(--mat-sys-tertiary),
        text-ripple-color: var(--mat-sys-tertiary),
      ));
    }

    &.mat-mdc-tonal-button {
      @include mat.button-overrides((
        tonal-container-color: var(--mat-sys-tertiary-container),
        tonal-label-text-color: var(--mat-sys-on-tertiary-container),
        tonal-state-layer-color: var(--mat-sys-on-tertiary-container),
        tonal-ripple-color: var(--mat-sys-on-tertiary-container),
      ));
    }
  }
}
