@use '@angular/material' as mat;


@mixin define-density-tokens() {
  --density-base: 0.8;
  --density-offset: 0;
  --density-scale: calc(var(--density-base) + var(--density-offset));

  --density-font-size-sm: calc(0.875rem * var(--density-scale));
  --density-font-size-base: calc(1rem * var(--density-scale));
  --density-font-size-lg: calc(1.25rem * var(--density-scale));

  --density-font-size-icon-sm: calc(1.125rem * var(--density-scale));
  --density-font-size-icon-md: calc(1.25rem * var(--density-scale));
  --density-font-size-icon-lg: calc(1.5rem * var(--density-scale));

  --density-page-padding: calc(1.5rem * var(--density-scale));
  --density-section-gap: calc(2rem * var(--density-scale));
  --density-card-padding: calc(1rem * var(--density-scale));

  --density-badge-font-size: calc(0.6875rem * var(--density-scale));
  --density-badge-indicator-size: calc(0.5625rem * var(--density-scale));
  --density-badge-padding-x: calc(0.5rem * var(--density-scale));
  --density-badge-padding-y: calc(0.125rem * var(--density-scale));
  --density-badge-radius: calc(0.75rem * var(--density-scale));

  --density-pagination-font-size: calc(0.875rem * var(--density-scale));
  --density-pagination-padding-y: calc(0.75rem * var(--density-scale));
  --density-pagination-padding-x: calc(1rem * var(--density-scale));

  --density-toolbar-title-size: calc(1.25rem * var(--density-scale));
  --density-toolbar-menu-size: calc(0.875rem * var(--density-scale));
  --density-toolbar-sub-size: calc(0.75rem * var(--density-scale));

  --density-breadcrumb-font-size: calc(0.875rem * var(--density-scale));
  --density-breadcrumb-padding: calc(1rem * var(--density-scale));

  --density-filter-icon-size: calc(1.125rem * var(--density-scale));

  --density-radio-label-size: calc(0.875rem * var(--density-scale));
  --density-radio-hint-size: calc(0.75rem * var(--density-scale));
  --density-radio-error-size: calc(0.875rem * var(--density-scale));
}

body.density-comfortable {
  @include define-density-tokens();
  --density-offset: 0.2;
}

body.density-compact {
  @include define-density-tokens();
  @include mat.all-component-densities(-1);
}

body.density-dense {
  @include define-density-tokens();
  @include mat.all-component-densities(-2);
  --density-offset: -0.1;
}
