@use '@angular/material' as mat;

$mat-std-button-height: 40px;
$large-size-scale: 1.5;

@mixin apply-material-overrides() {
  @include _chrome-element-adjustments();
  @include _button-overrides();
  @include _main-content-background();
}

@mixin apply-component-overrides() {
  @include mat.toolbar-overrides((
    container-background-color: var(--chrome-bg),
    container-text-color: var(--chrome-text)
  ));

  @include mat.sidenav-overrides((
    container-background-color: var(--chrome-bg),
    container-text-color: var(--chrome-text)
  ));

  @include mat.button-toggle-overrides((
    background-color: var(--overlay-on-surface-08),
    selected-state-background-color: var(--mat-sys-primary),
    selected-state-text-color: var(--mat-sys-on-primary),
    text-color: var(--mat-sys-on-surface)
  ));
}

@mixin _chrome-element-adjustments() {
  mat-toolbar,
  mat-sidenav {
    .mat-mdc-icon-button {
      color: var(--chrome-text);
    }
  }
}

@mixin _main-content-background() {
  .main-content {
    background-color: var(--mat-sys-background);
  }
}

@mixin _button-overrides() {
  @include _button-primary-overrides();
  @include _button-secondary-overrides();
  @include _button-tertiary-overrides();
  @include _button-size-overrides();
  @include _button-shape-overrides();
}

@mixin _button-primary-overrides() {
  [color="primary"] {
    @include mat.button-overrides((
      tonal-container-color: var(--mat-sys-primary-container),
      tonal-label-text-color: var(--mat-sys-on-primary-container),
      tonal-state-layer-color: var(--mat-sys-on-primary-container),
      tonal-ripple-color: var(--mat-sys-on-primary-container),
    ));
  }
}

@mixin _button-secondary-overrides() {
  [color="secondary"] {
    @include mat.button-overrides((
      filled-container-color: var(--mat-sys-secondary),
      filled-label-text-color: var(--mat-sys-on-secondary),
      filled-state-layer-color: var(--mat-sys-on-secondary),
      filled-ripple-color: var(--mat-sys-on-secondary),

      protected-label-text-color: var(--mat-sys-secondary),
      protected-state-layer-color: var(--mat-sys-secondary),
      protected-ripple-color: var(--mat-sys-secondary),

      outlined-label-text-color: var(--mat-sys-secondary),
      outlined-outline-color: var(--mat-sys-secondary),
      outlined-state-layer-color: var(--mat-sys-secondary),
      outlined-ripple-color: var(--mat-sys-secondary),

      text-label-text-color: var(--mat-sys-secondary),
      text-state-layer-color: var(--mat-sys-secondary),
      text-ripple-color: var(--mat-sys-secondary),

      tonal-container-color: var(--mat-sys-secondary-container),
      tonal-label-text-color: var(--mat-sys-on-secondary-container),
      tonal-state-layer-color: var(--mat-sys-on-secondary-container),
      tonal-ripple-color: var(--mat-sys-on-secondary-container),
    ));
  }
}

@mixin _button-tertiary-overrides() {
  [color="tertiary"] {
    @include mat.button-overrides((
      filled-container-color: var(--mat-sys-tertiary),
      filled-label-text-color: var(--mat-sys-on-tertiary),
      filled-state-layer-color: var(--mat-sys-on-tertiary),
      filled-ripple-color: var(--mat-sys-on-tertiary),

      protected-label-text-color: var(--mat-sys-tertiary),
      protected-state-layer-color: var(--mat-sys-tertiary),
      protected-ripple-color: var(--mat-sys-tertiary),

      outlined-label-text-color: var(--mat-sys-tertiary),
      outlined-outline-color: var(--mat-sys-tertiary),
      outlined-state-layer-color: var(--mat-sys-tertiary),
      outlined-ripple-color: var(--mat-sys-tertiary),

      text-label-text-color: var(--mat-sys-tertiary),
      text-state-layer-color: var(--mat-sys-tertiary),
      text-ripple-color: var(--mat-sys-tertiary),

      tonal-container-color: var(--mat-sys-tertiary-container),
      tonal-label-text-color: var(--mat-sys-on-tertiary-container),
      tonal-state-layer-color: var(--mat-sys-on-tertiary-container),
      tonal-ripple-color: var(--mat-sys-on-tertiary-container),
    ));
  }
}

@mixin _button-size-overrides() {
  .mdc-button.btn-size-small {
    @include mat.button-density(-2);

    font-size: 0.75rem;
    line-height: 1rem;

    .mat-icon {
      font-size: 1rem;
      width: 1rem;
      height: 1rem;
    }
  }

  .mdc-button.btn-size-large {
    $large-height: $mat-std-button-height * $large-size-scale;
    $large-padding: 24px * $large-size-scale;

    --mdc-filled-button-container-height: #{$large-height};
    --mdc-outlined-button-container-height: #{$large-height};
    --mdc-protected-button-container-height: #{$large-height};
    --mdc-text-button-container-height: #{$large-height};
    --mdc-tonal-button-container-height: #{$large-height};

    padding: 0 #{$large-padding};

    font-size: 1rem;
    line-height: 1.5rem;

    .mat-icon {
      $icon-size: 24px * ($large-size-scale * 0.8);

      font-size: 1.5rem;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

@mixin _button-shape-overrides() {
  .mdc-button.btn-shape-square {
    @include mat.button-overrides((
      filled-container-shape: 4px,
      outlined-container-shape: 4px,
      protected-container-shape: 4px,
      text-container-shape: 4px,
      tonal-container-shape: 4px,
    ));
  }
}
