@use 'tokens' as tokens;
@use 'sass:map';
@use 'sass:list';

@mixin nav-item-all-states(
  $active-border: 3px,
  $parent-border: 2px
) {
  @include _nav-item-base();
  @include _nav-item-hover();
  @include _nav-item-active($active-border);
  @include _nav-item-parent-active-by-level($parent-border);
}

@mixin _nav-item-parent-active-by-level($border-width: 2px) {
  @include tokens.define-navigation-tokens();

  @for $level from 0 through 5 {
    $intensity: ($level + 1) * 10;

    &.parent-active[aria-level="#{$level}"] {
      background: linear-gradient(
          to right,
          var(--mat-sys-tertiary) 0%,
          var(--overlay-on-primary-10) #{$intensity + 0%},
          var(--overlay-on-primary-20) 65%,
          transparent 100%
      );
    }
  }
}

@mixin _nav-item-base() {
  position: relative;
  transition: all var(--transition-duration-fast) var(--transition-timing);
  border-radius: 0 8px 8px 0;
}

@mixin _nav-item-hover() {
  &:hover:not(.active):not(.parent-active) {
    background-color: var(--nav-item-hover-bg);
  }
}

@mixin _nav-item-active($border-width: 4px) {
  &.active {
    background: linear-gradient(
        to right,
        var(--mat-sys-tertiary) 0%,
        var(--overlay-on-primary-10) 50%,
        var(--overlay-on-primary-20) 65%,
        transparent 100%
    );
    border-left: $border-width solid var(--mat-sys-tertiary);

    button, .tree-node-content {
      background: transparent !important;

      mat-icon {
        font-weight: 600;
      }
    }
  }
}
