:root {
  --overlay-light-05: rgba(255, 255, 255, 0.05);
  --overlay-light-10: rgba(255, 255, 255, 0.10);
  --overlay-light-20: rgba(255, 255, 255, 0.20);
  --overlay-dark-10: rgba(0, 0, 0, 0.10);
  --overlay-dark-20: rgba(0, 0, 0, 0.20);
  --overlay-dark-40: rgba(0, 0, 0, 0.40);
}
