@use 'sass:map';
@use './theme';
@use './variables';
@use './mixins' as mixins;
@use '@angular/material' as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

@include mat.core();

@each $color-name, $theme-variants in theme.$themes {
  $light-theme: map.get($theme-variants, 'light');
  $dark-theme: map.get($theme-variants, 'dark');

  body.theme-#{$color-name}.light-theme {
    @include mat.all-component-themes($light-theme);
    color-scheme: light;
  }

  body.theme-#{$color-name}.dark-theme {
    @include mat.all-component-themes($dark-theme);
    color-scheme: dark;
  }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: var(--mat-sys-surface-container, #f5f5f5);
}

::-webkit-scrollbar-thumb {
  background: var(--mat-sys-outline, #ccc);
  border-radius: 3px;

  &:hover {
    background: var(--mat-sys-outline-variant, #999);
  }
}
