@use 'sass:map';
@use './theming' as theming;
@use '@angular/material' as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

@include mat.core();
@include theming.build-themes();

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
