@use 'sass:map';
@use './theming' as theming;
@use '@angular/material' as mat;
@use 'highlight.js/scss/github-dark.scss';

@tailwind base;

@layer base {
  mat-form-field * {
    border-style: revert;
  }
}

@tailwind components;
@tailwind utilities;

@include mat.core();
@include theming.build-themes();

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
