@use 'sass:map';
@use '@angular/material' as mat;

$base-typography: (
  brand-family: 'Poppins, Inter, sans-serif',
  plain-family: 'Plus Jakarta Sans, Inter, sans-serif',
);

$theme-default-light: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$blue-palette,
    tertiary: mat.$cyan-palette,
  ),
  typography: $base-typography,
));

$theme-default-dark: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$blue-palette,
    tertiary: mat.$cyan-palette,
  ),
  typography: $base-typography,
));

$theme-brand-light: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$cyan-palette,
  ),
  typography: $base-typography,
));

$theme-brand-dark: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$azure-palette,
    tertiary: mat.$cyan-palette,
  ),
  typography: $base-typography,
));

$theme-teal-light: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$cyan-palette,
    tertiary: mat.$blue-palette,
  ),
  typography: $base-typography,
));

$theme-teal-dark: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$cyan-palette,
    tertiary: mat.$blue-palette,
  ),
  typography: $base-typography,
));

$theme-rose-light: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$magenta-palette,
    tertiary: mat.$cyan-palette,
  ),
  typography: $base-typography,
));

$theme-rose-dark: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$magenta-palette,
    tertiary: mat.$cyan-palette,
  ),
  typography: $base-typography,
));

$theme-purple-light: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$violet-palette,
    tertiary: mat.$cyan-palette,
  ),
  typography: $base-typography,
));

$theme-purple-dark: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$violet-palette,
    tertiary: mat.$cyan-palette,
  ),
  typography: $base-typography,
));

$theme-amber-light: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$orange-palette,
    tertiary: mat.$yellow-palette,
  ),
  typography: $base-typography,
));

$theme-amber-dark: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$orange-palette,
    tertiary: mat.$yellow-palette,
  ),
  typography: $base-typography,
));

$themes: (
  'default': (
    'light': $theme-default-light,
    'dark': $theme-default-dark,
  ),
  'brand': (
    'light': $theme-brand-light,
    'dark': $theme-brand-dark,
  ),
  'teal': (
    'light': $theme-teal-light,
    'dark': $theme-teal-dark,
  ),
  'rose': (
    'light': $theme-rose-light,
    'dark': $theme-rose-dark,
  ),
  'purple': (
    'light': $theme-purple-light,
    'dark': $theme-purple-dark,
  ),
  'amber': (
    'light': $theme-amber-light,
    'dark': $theme-amber-dark,
  ),
);

$light-theme: $theme-default-light;
$dark-theme: $theme-default-dark;
