@use 'sass:map';
@use './brand-palette' as brand;
@use '@angular/material' as mat;

@function create-app-theme($primary, $tertiary, $type: light) {
  @return mat.define-theme((
    color: (
      theme-type: $type,
      primary: $primary,
      tertiary: $tertiary,
    ),
    typography: $base-typography
  ));
}

$base-typography: (
  brand-family: 'Poppins, Inter, sans-serif',
  plain-family: 'Plus Jakarta Sans, Inter, sans-serif',
);

$theme-config: (
  'default': (primary: brand.$brand-primary, tertiary: brand.$brand-tertiary),
  'brand': (primary: brand.$brand-primary, tertiary: brand.$brand-tertiary),
  'azure': (primary: mat.$azure-palette, tertiary: mat.$cyan-palette),
  'teal': (primary: mat.$cyan-palette, tertiary: mat.$blue-palette),
  'rose': (primary: mat.$magenta-palette, tertiary: mat.$cyan-palette),
  'purple': (primary: mat.$violet-palette, tertiary: mat.$cyan-palette),
  'amber': (primary: mat.$orange-palette, tertiary: mat.$yellow-palette),
);

$themes: ();

@each $name, $config in $theme-config {
  $primary: map.get($config, 'primary');
  $tertiary: map.get($config, 'tertiary');

  $light: create-app-theme($primary, $tertiary, light);
  $dark: create-app-theme($primary, $tertiary, dark);

  $themes: map.set($themes, $name, (
    'light': $light,
    'dark': $dark
  ));
}

$light-theme: map.get(map.get($themes, 'default'), 'light');
$dark-theme: map.get(map.get($themes, 'default'), 'dark');
