.code-expansion-panel {
  box-shadow: none !important;
  border: 1px solid var(--mat-sys-outline-variant);
  border-radius: 8px;
  
  ::ng-deep {
    .mat-expansion-panel-header {
      padding: 12px 16px;
    }
    
    .mat-expansion-panel-body {
      padding: 0;
    }
  }
}

pre {
  margin: 0;
  
  code {
    display: block;
  }
}
