.nav-item-collapsable {
  &.in-active-path {
    background-color: var(--overlay-dark-05);

    &.depth-1 {
      background-color: var(--overlay-dark-05);
    }

    &.depth-2 {
      background-color: var(--overlay-dark-10);
    }
  }

  &:hover {
    background-color: var(--overlay-dark-10);
  }

  &.active {
    background-color: var(--overlay-dark-20);
  }
}

.nav-item-link {
  &:hover {
    background-color: var(--overlay-light-10);
  }

  &.active {
    background-color: var(--overlay-light-20);
  }
}

.nav-item-indicator {
  background-color: var(--color-full-white);
}

.submenu-items {
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: var(--color-secondary-800);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-secondary-600);
    border-radius: 2px;
  }
}

