.sidenav {
  transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 0;
  border-right: 1px solid var(--color-neutral-400);

  &:not(.expanded) {
    width: 64px;
  }

  &.expanded {
    width: 280px;
  }
}

:host-context(.light-theme) .sidenav {
  border-right-color: var(--color-secondary-600);
}

:host-context(.dark-theme) .sidenav {
  border-right-color: var(--color-neutral-400);
}

::ng-deep {
  mat-sidenav-container {
    height: 100% !important;
  }

  mat-sidenav-content {
    display: flex !important;
    flex-direction: column !important;
    height: 100% !important;
    overflow: hidden !important;
  }
}
