.sidenav {
  &:not(.expanded) {
    width: 64px;
  }

  &.expanded {
    width: 280px;
  }
}

.main-content {
  transition: background-color 0.3s ease;
}

.mat-drawer {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.mat-drawer-side {
  border-right: none;
}
