.sidebar-logo {
  background: linear-gradient(
    to bottom right,
    var(--theme-primary-500),
    var(--theme-primary-600)
  );
}

.nav-tree-container {
  > div {
    &.active {
      background: linear-gradient(
          to right,
          var(--overlay-light-40) 0%,
          var(--overlay-light-30) 50%,
          var(--overlay-light-15) 85%,
          transparent 100%
      );
      border-left: 3px solid var(--overlay-light-80);
      box-shadow: inset 0 1px 0 var(--overlay-light-15),
                  0 2px 8px var(--overlay-dark-10);
    }

    button {
      &.active {
        background: transparent !important;
      }
    }
  }
}
