@use '../../../../themes/navigation' as nav;

.nav-tree-container {
  .nav-icon-item {
    @include nav.nav-item-all-states();
  }

  .nav-icon-children-indicator {
    position: absolute;
    bottom: 6px;
    right: 6px;
    width: 6px;
    height: 6px;
    background-color: var(--mat-sys-tertiary);
    border-radius: 50%;
  }
}
