@use '../../../../themes/navigation' as nav;

.nav-tree-container {
  .nav-icon-item {
    @include nav.nav-item-all-states(
      $active-border: 4px,
      $parent-border: 3px,
      $parent-intensity: medium
    );
  }

  .nav-icon-children-indicator {
    position: absolute;
    bottom: 6px;
    right: 6px;
    width: 6px;
    height: 6px;
    background-color: var(--mat-sys-primary);
    border-radius: 50%;
    opacity: 0.6;
    transition: opacity var(--layout-transition-fast);

    .nav-icon-item.active &,
    .nav-icon-item.parent-active & {
      opacity: 1;
      background-color: var(--mat-sys-on-primary);
    }
  }
}
