:host {
  display: block;
}

::ng-deep .select-size-small {
  mat-form-field {
    font-size: 0.875rem;

    .mat-mdc-form-field-infix {
      min-height: 40px;
      padding-top: 12px;
      padding-bottom: 12px;
    }

    .mat-mdc-select-trigger {
      height: 40px;
    }

    mat-label {
      font-size: 0.813rem;
    }
  }
}

::ng-deep .select-size-medium {
  mat-form-field {
    font-size: 1rem;

    .mat-mdc-form-field-infix {
      min-height: 48px;
      padding-top: 16px;
      padding-bottom: 16px;
    }

    .mat-mdc-select-trigger {
      height: 48px;
    }
  }
}

::ng-deep .select-size-large {
  mat-form-field {
    font-size: 1.125rem;

    .mat-mdc-form-field-infix {
      min-height: 56px;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .mat-mdc-select-trigger {
      height: 56px;
    }

    mat-label {
      font-size: 1.125rem;
    }
  }
}

// Icon alignment when using matPrefix
::ng-deep mat-form-field {
  .mat-mdc-form-field-icon-prefix {
    mat-icon {
      margin-right: 8px;
    }
  }
}

// Ensure proper width
mat-form-field {
  width: 100%;
}
